<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>

<div class="container mt-3">
    <div class="card">
        <div class="card-header"  style="display:flex; justify-content: space-between">
            <h4>Notes</h4>
            <a th:href="'/note/create'">
                <button class="btn btn-primary">CREATE NOTE</button>
            </a>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Note Id</th>
                    <th>Title</th>
                    <th>Content</th>
                </tr>
                <div th:if="${notes != null}">
                <tr th:each="note:${notes}">
                    <td th:text="${note.getId()}"></td>
                    <td th:text="${note.getTitle()}"></td>
                    <td style="display:flex; justify-content: space-between">
                        <span th:text="${note.getContent()}"></span>
                        <div>
                            <a th:href="'/note/edit?id=' + ${note.getId()}" style="margin-right: 5px; text-decoration:none">
                                <button class="btn btn-primary">Edit</button>
                            </a>
                            <a th:href="'/note/delete/' + ${note.getId()}">
                                <button class="btn btn-primary">Delete</button>
                            </a>
                        </div>
                    </td>
                </tr>
                </div>
            </table>
        </div>
    </div>
</div>
</body>
</html>